config:
  # Locale
  locale: en
  # Authentication
  github_token: ~
  # User
  user: ~
  # Defaults
  # defaults:
    # client_name: ~
    # project_name: default-project
    # project_type: application
    # description: This is a default project
    # visibility: private
    # main_branch: main
    # contributors:
      # - user1
      # - user2
  # Repository
  project_types:
    - component
    - bundle
    - application
    - template
    - issues-tracker
  # Branches
  main_branch: ~
  develop_branch: develop
  branches:
    - main
    - develop
  # Labels
  labels:
    - {name: 'docker', color: 'FF5733', description: 'A Docker file has been added or modified'}
    - {name: 'dependencies', color: 'EC7063', description: 'A composer or package file has been added or modified'}
    - {name: 'fixtures', color: '85C1E9', description: 'Fixtures have been added or modified'}
    - {name: 'tests', color: '7DCEA0', description: 'Tests have been added or modified'}
    - {name: 'tools', color: '2E86C1', description: 'Tools have been added or modified'}
    - {name: 'deployment', color: '884EA0', description: 'Deployment files have been added or modified'}
    - {name: 'docs', color: 'F5B041', description: 'Documentation has been added or modified'}
    - {name: 'ci', color: 'D35400', description: 'CI files have been added or modified'}
    - {name: 'migrations', color: 'BA4A00', description: 'Database migrations have been added or modified'}
    - {name: 'front', color: '7DCEA0', description: 'Related to the front'}
    - {name: 'api', color: 'F1948A', description: 'Related to the API'}
    - {name: 'back', color: 'F7DC6F', description: 'Related to the back'}
    - {name: 'pull request', color: '16A085', description: 'A PR has been opened'}
    - {name: 'to test (internal)', color: 'D98880', description: 'To be tested (internal)'}
    - {name: 'to test (customer)', color: 'F1C40F', description: 'To be tested (customer)'}
  # Template
  enable_no_template: true
  templates:
    # To create a new repository in an organization, the authenticated user must be a member of the specified organization.
    # https://docs.github.com/fr/rest/repos/repos?apiVersion=2022-11-28#create-a-repository-using-a-template
    #- { name: atournayre/default-template, include_all_branches: true }
  # Files
  files:
    - .github/dependabot.yml
    - .github/ISSUE_TEMPLATE/BUG-REPORT.yml
    - .github/ISSUE_TEMPLATE/config.yml
    - .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
    - docs/CONTRIBUTORS.md
    - docs/DEPLOY.md
    - docs/DEVELOP.md
    - docs/FAQ.md
    - docs/INSTALL.md
    - docs/ISSUES.md
    - docs/MAINTAINERS.md
    - docs/SECURITY.md
    - docs/TEST.md
    - docs/TODO.md
    - docs/UPGRADE.md
    - docs/USAGE.md
    - CHANGELOG.md
    - CODE_OF_CONDUCT.md
    - CONTRIBUTING.md
    - LICENSE
    - README.md
  # Milestones
  milestones:
    - { title: 'Initial setup', description: "Initial setup of the environment", due_on: ~ }
    - { title: 'Model', description: 'Data model', due_on: ~ }
    - { title: 'Fixtures', description: 'Uses cases and test datas', due_on: ~ }
    - { title: 'Deployment scripts', description: 'Delivery/installation scripts', due_on: ~ }
    - { title: 'Staging environment', description: "Staging related configuration", due_on: ~ }
    - { title: 'Production environment', description: "Production related configuration", due_on: ~ }
    - { title: 'First version', description: 'First version for internal purposes or beta testers', due_on: ~ }
    - { title: 'Release 1.0', description: 'First release', due_on: ~ }
