create_repository:
  # Locale
  locale: en
  # Authentication
  github_token: ~
  # User
  user: ~
  # Defaults
  # defaults:
    # client_name: ~
    # project_name: default-project
    # project_type: application
    # description: This is a default project
    # visibility: private
    # main_branch: main
    # contributors:
      # - user1
      # - user2
  # Repository
  project_types:
    - component
    - bundle
    - application
    - template
    - issues-tracker
    - poc
  # Branches
  main_branch: ~
  develop_branch: develop
  branches:
    - main
    - develop
  # Labels
  labels:
    - {name: 'docker', color: 'FF5733', description: 'A Docker file has been added or modified'}
    - {name: 'dependencies', color: 'EC7063', description: 'A composer or package file has been added or modified'}
    - {name: 'fixtures', color: '85C1E9', description: 'Fixtures have been added or modified'}
    - {name: 'tests', color: '7DCEA0', description: 'Tests have been added or modified'}
    - {name: 'tools', color: '2E86C1', description: 'Tools have been added or modified'}
    - {name: 'deployment', color: '884EA0', description: 'Deployment files have been added or modified'}
    - {name: 'docs', color: 'F5B041', description: 'Documentation has been added or modified'}
    - {name: 'ci', color: 'D35400', description: 'CI files have been added or modified'}
    - {name: 'migrations', color: 'BA4A00', description: 'Database migrations have been added or modified'}
    - {name: 'front', color: '7DCEA0', description: 'Related to the front'}
    - {name: 'api', color: 'F1948A', description: 'Related to the API'}
    - {name: 'back', color: 'F7DC6F', description: 'Related to the back'}
    - {name: 'env', color: '117A65', description: 'Related to .env files'}
    - {name: 'git', color: '633974', description: 'Related to git files'}
    - {name: 'pull request', color: '16A085', description: 'A PR has been opened'}
    - {name: 'to test (internal)', color: 'D98880', description: 'To be tested (internal)'}
    - {name: 'to test (customer)', color: 'F1C40F', description: 'To be tested (customer)'}
    - {name: 'waiting for customer', color: '48AF19', description: 'Waiting for a customer action'}
    - {name: 'environment', color: 'C40F1F', description: 'Environment related (staging, production, ...)'}
  # Template
  enable_no_template: true
  templates:
    # To create a new repository in an organization, the authenticated user must be a member of the specified organization.
    # https://docs.github.com/fr/rest/repos/repos?apiVersion=2022-11-28#create-a-repository-using-a-template
    #- { name: atournayre/default-template, include_all_branches: true }
  # Files
  files:
    - .github/dependabot.yml
    - .github/ISSUE_TEMPLATE/BUG-REPORT.yml
    - .github/ISSUE_TEMPLATE/config.yml
    - .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
    - .github/PULL_REQUEST_TEMPLATE.md
    # - { path: composer.json, url: https://github.com/atournayre/symfony-skeleton/blob/master/composer.json }    # Github actions
    - .github/workflows/labeler.yml
    - .github/labeler.yml
    - .github/reviewers.yml
  # Milestones
  milestones:
    - { title: 'Initial setup', description: "Initial setup of the environment", due_on: ~ }
    - { title: 'Model', description: 'Data model', due_on: ~ }
    - { title: 'Fixtures', description: 'Uses cases and test datas', due_on: ~ }
    - { title: 'Deployment scripts', description: 'Delivery/installation scripts', due_on: ~ }
    - { title: 'Staging environment', description: "Staging related configuration", due_on: ~ }
    - { title: 'Production environment', description: "Production related configuration", due_on: ~ }
    - { title: 'First version (release 0.0)', description: 'First version for internal purposes or beta testers', due_on: ~ }
    - { title: 'Release 1.0', description: 'First release', due_on: ~ }
  # Issues
  issues:
    - { title: 'Domain name(s)', file: 'domain_names.md', labels: [environment, waiting for customer], milestone: 'Initial setup' }
    - { title: 'Send emails', file: 'send_emails.md', labels: [environment, back, env, git], milestone: 'Initial setup' }
    - { title: 'Fixtures', file: 'fixtures.md', labels: [fixtures], milestone: 'Fixtures' }
    - { title: 'DNS Listing', file: 'dns.md', labels: [environment, waiting for customer], milestone: 'Staging environment' }
  # Codeowners
  codeowners:
    reviewers:
      defaults: defaut-reviewer
      repository_owners:
        - repository-owner
      infra_devs:
        - infra-devs-user
      architecture_devs:
        - architecture-devs-user
      frontend_devs:
        - frontend-devs-user
      backend_devs:
        - backend-devs-user
      full_team:
        - member-1
        - member-2
        - member-3
      lead_infra:
        - lead-infra-user
      lead_architecture:
        - lead-architecture-user
      lead_frontend:
        - lead-frontend-user
      lead_backend:
        - lead-backend-user
    patterns:
      - { pattern: 'Docker*', owners: [lead_infra] }
      - { pattern: 'docker*', owners: [lead_infra] }
      - { pattern: '.env*', owners: [lead_infra] }
      - { pattern: '.git*', owners: [lead_infra] }
      - { pattern: 'package*', owners: [lead_infra, lead_frontend] }
      - { pattern: '*.lock', owners: [lead_infra] }
      - { pattern: 'composer.*', owners: [lead_infra, lead_backend] }
      - { pattern: 'fixtures/', owners: [lead_architecture] }
      - { pattern: 'tests/', owners: [lead_architecture] }
      - { pattern: 'phpunit.xml.dist', owners: [lead_architecture] }
      - { pattern: 'tools/', owners: [lead_infra] }
      - { pattern: 'deploy/', owners: [lead_infra] }
      - { pattern: 'docs/', owners: [full_team] }
      - { pattern: '*.md', owners: [full_team] }
      - { pattern: '.github/workflows/', owners: [lead_infra] }
      - { pattern: 'migrations/*', owners: [lead_architecture] }
      - { pattern: '*.js', owners: [lead_frontend] }
      - { pattern: '*.css', owners: [lead_frontend] }
      - { pattern: 'assets/', owners: [lead_frontend] }
      - { pattern: 'templates/', owners: [lead_frontend] }
      - { pattern: '*.twig', owners: [lead_frontend] }
      - { pattern: '*.jpg', owners: [lead_frontend] }
      - { pattern: '*.png', owners: [lead_frontend] }
      - { pattern: '*.svg', owners: [lead_frontend] }
      - { pattern: '*.gif', owners: [lead_frontend] }
      - { pattern: '*.ico', owners: [lead_frontend] }
      - { pattern: '*.webp', owners: [lead_frontend] }
      - { pattern: 'webpack.config.js', owners: [lead_infra, lead_frontend] }
      - { pattern: '*.php', owners: [lead_backend] }
